{% extends 'base.html' %}

{% block content %}
    <section id='login' class="login-page">
        <h2>Reset Hasła</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group"style="justify-self: center">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-group form-group--buttons" style="justify-content: center">
                <button class="btn" type="submit">Resetuj</button>
            </div>
        </form>
    </section>
{% endblock %}