{% extends 'base.html' %}
{% load static %}
{% block title %}Form{% endblock %}

{% block header_style %}"header--form-page"{% endblock %}
{% block header %}
    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Oddaj rzeczy, których już nie chcesz<br/>
                <span class="uppercase">potrzebującym</span>
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                <ul class="slogan--steps-boxes">
                    <li>
                        <div><em>1</em><span>Wybierz rzeczy</span></div>
                    </li>
                    <li>
                        <div><em>2</em><span>Spakuj je w worki</span></div>
                    </li>
                    <li>
                        <div><em>3</em><span>Wybierz fundację</span></div>
                    </li>
                    <li>
                        <div><em>4</em><span>Zamów kuriera</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section id="form" class="form--steps">
        <div class="form--steps-instructions">
            <div class="form--steps-container">
                <h3>Ważne!</h3>
                <p data-step="1" class="active">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="2">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="3">
                    Wybierz jedną, do
                    której trafi Twoja przesyłka.
                </p>
                <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
            </div>
        </div>

        <div class="form--steps-container">
            <div class="form--steps-counter">Krok <span>1</span>/5</div>

            <form action="form-confirmation.html" method="post" id="forValidation">
                <!-- STEP 1: class .active is switching steps -->
                <div data-step="1" class="active">
                    <h3>Zaznacz co chcesz oddać:</h3>
                    {% for value, description in form.categories.field.choices %}
                        <div class="form-group form-group--checkbox">
                            <label>
                                <input type="checkbox" name="categories" value="{{ value }}"/>
                                <span class="checkbox"></span>
                                <span class="description">{{ description }}</span>
                            </label>
                        </div>
                    {% endfor %}
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn next-step" id="categories-setup">Dalej</button>
                    </div>
                </div>

                <!-- STEP 2 -->
                <div data-step="2">
                    <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                    <div class="form-group form-group--inline">
                        <label>
                            Liczba 60l worków:
                            {{ form.quantity }} <br>
                            {{ form.quantity.errors }}
                        </label>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step">Dalej</button>
                    </div>
                </div>


                <!-- STEP 3 -->
                <div data-step="3" id="formInstitutions" institutions-url="{% url 'ajax-institutions' %}">
                    <h3>Wybierz organizacje, której chcesz pomóc:</h3>
                        <!-- DATA LOADED BY AJAX CALL -->
                    <div class="form-group form-group--buttons" id="buttons-formInstitutions">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step">Dalej</button>
                    </div>
                </div>

                <!-- STEP 4 -->
                <div data-step="4">
                    <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru</h4>
                            <div class="form-group form-group--inline">
                                <label> Ulica {{ form.street }} </label>
                                <label> {{ form.street.errors }} </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> Miasto {{ form.city }} </label>
                                <label> {{ form.city.errors }} </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Kod pocztowy {{ form.zip_code }}
                                </label>
                                <label> {{ form.zip_code.errors }} </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Numer telefonu {{ form.phone_number }}
                                </label>
                                <label> {{ form.phone_number.errors }} </label>
                            </div>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru</h4>
                            <div class="form-group form-group--inline">
                                <label> Data {{ form.pick_up_date }} </label>
                                <label> {{ form.pick_up_date.errors }} </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> Godzina {{ form.pick_up_time }} </label>
                                <label> {{ form.pick_up_time.errors }} </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Uwagi dla kuriera
                                    {{ form.pick_up_comment }}
                                </label>
                                <label> {{ form.pick_up_comment.errors }} </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step" id="to-summary">Dalej</button>
                    </div>
                </div>

                <!-- STEP 5 -->
                <div data-step="5">
                    <h3>Podsumowanie Twojej darowizny</h3>

                    <div class="summary">
                        <div class="form-section">
                            <h4>Oddajesz:</h4>
                            <ul>
                                <li>
                                    <span class="icon icon-bag"></span>
                                    <span class="summary--text" id="summary-donation"></span>
                                </li>

                                <li>
                                    <span class="icon icon-hand"></span>
                                    <span class="summary--text" id="summary-foundation"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="form-section form-section--columns">
                            <div class="form-section--column">
                                <h4>Adres odbioru:</h4>
                                <ul>
                                    <li id="summary-street"></li>
                                    <li id="summary-city"></li>
                                    <li id="summary-zip-code"></li>
                                    <li id="summary-phone"></li>
                                </ul>
                            </div>

                            <div class="form-section--column">
                                <h4>Termin odbioru:</h4>
                                <ul>
                                    <li id="summary-pick-up-date"></li>
                                    <li id="summary-pick-up-time"></li>
                                    <li id="summary-comment"></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="submit" class="btn">Potwierdzam</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}