{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
        <div class="container">
            {% if user.is_authenticated %}
                <h2>Strona użytkownika</h2>
                <div class="about-us--text" style="text-align: left">
                    <p style="width: 90%; line-height: 0.5em; font-size: 1.8rem">Imię: <strong>{{ first_name }}</strong>
                    </p>
                    <p style="width: 90%; line-height: 0.5em; font-size: 1.8rem">Nazwisko:
                        <strong>{{ last_name }}</strong></p>
                    <p style="width: 90%; line-height: 0.5em; font-size: 1.8rem">Email: {{ email }}</p>
                </div>
            {% else %}
                <p>Sorry, you have to be logged in to view this page -
                    <a href="{% url 'login' %}">Zaloguj się</a>
                </p>
                <p>Nie masz założonego konta?
                    <a href="{% url 'register' %}">Załóż konto.</a>
                </p>
            {% endif %}
        </div>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th scope="col" class="col-2">Data zgłoszenia</th>
                    <th scope="col" class="col-2">Ilość worków</th>
                    <th scope="col" class="col-2">Kategoria daru</th>
                    <th scope="col" class="col-3">Przkazana fundacji</th>
                    <th scope="col" class="col-2">Planowana data / Data przkazania</th>
                    <th scope="col" class="col-1">Czy przekazana?</th>
                    <th scope="col" class="col-2">Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for donation in donations %}

                    <tr {% if donation.is_taken %}
                            style="color: black; background-color: lightgrey"
                        {% endif %}>
                        <td>
                            {{ donation.date_submitted }}
                        </td>
                        <td>
                            {{ donation.quantity }}
                        </td>
                        <td>
                            {% for category in donation.categories.all %}
                                {{ category }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {{ donation.institution.name }}
                        </td>
                        <td>
                            {% if donation.is_taken %}
                                {{ donation.is_taken_date }}
                            {% else %}
                                {{ donation.pick_up_date }}, {{ donation.pick_up_time }}
                            {% endif %}
                        </td>
                        <td>
                            {{ donation.is_taken_str }}
                        </td>
                        <td>
                            <a href="{% url 'donation-detail' donation.id %}"
                               class="btn btn--small">Szczegóły</a>
                            {% if not donation.is_taken %}
                            <form method="post" action="{% url 'picked-up' %}">
                                {% csrf_token %}
                                <button type='submit' value='{{ donation.id }}' name="is_taken"
                                   class="btn btn--small">Potwierdź odbiór</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
